*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 18px;
}

a {
	text-decoration: none;
	color: #fff;
}

.plane{
	background: 100%;
	position: fixed;
	bottom: 100;
	left: 100;
	height: 100%;
	z-index: -1;
}

.container.menu-container.h2 {
	color:#fff;
	display: block;
	right: 100;

} 
/*.contenedor-menu .menu {
	width: 100%;
}

.contenedor-menu ul {
	list-style: none;
}

.contenedor-menu .menu li a {
	color:#494949;
	display: block;
	padding: 15px 20px;
	background: #e9e9e9;
}*/

@media screen and (max-width: 450px) {
	body {
		padding-top: 80px;
	}

	.contenedor-menu {
		margin: 0;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1000;
	}

	.btn-menu {
		display:block;
	}

	.contenedor-menu .menu {
		display:none;
	}
}